@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'avenir_next_cyrregular';
        color: #16113D;
        width: 100vw;
    }
    .carousel {
        overflow: hidden;
    }
    .slick-slide {
        width: 100%;
    }
}